.body{
    background-color: black;
}
.nav-wrapper{
    background: black;
}

.home-header{
    min-height: 400px;
    background: black;  vertical-align:center;
}
.brand-header-text{
    margin:20px;
    font-weight: bold;
    font-size: 30px;
}
.contextbox-profile{
    height: auto;
    padding:0px;
    background-image: url("../assets/imgs/cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 560px;
}
 
.profile-content p{
    
    font-size: 20px;
}
.contactme-content span{
    margin: 0px;
    padding: 0px;
}
.contactme-content ul li{
    list-style: none;
}
.contactme-content ul li div{
    display: block;
}
.contactme-content ul li span{
    font-size: 30px;
}

.contextbox-offwork{
    min-height: 560px;
    background-image: url("../assets/imgs/cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}