<div id="home-header" class="col s12 m12 l12 home-header " fxLayout="row" fxLayoutAlign="center center" >
  <ngx-avatar name="Jovin James" size="500" src="assets/imgs/jovin.jpg"></ngx-avatar>
</div>
<div class="navbar">
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Jovin James</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="https://imjovin.github.io/blogs/">BLOGS</a></li>
                <li><a href="#">WORK</a></li>
                <li><a href="#">OFF-WORK</a></li>
              </ul>
          <a href="#" data-target="mobile-menu" class="sidenav-trigger button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-menu">
    <li><a href="#">BLOGS</a></li>
    <li><a href="#">WORK</a></li>
    <li><a href="#">OFF-WORK</a></li>
</ul>
 <div class="row">
   <div id="profile" class="col s12 contextbox-profile">
 
       <div class="col s12 m6 l6 profile-content">
          <div class="col s12">
              <div >
                  <h5 class="left-align"><b>WHO AM I??</b></h5>
                  </div>
            </div>
          <div class="col s12">
              <div >
                  <h5 class="left-align">#PROGRAMMER</h5>
                  <p>A full stack web developer with experience over all phases of software life cycle.
                  | Microsoft certified Azure Developer.
                  </p>
                </div>
            </div>
            <div class="col s12">
                <!-- Promo Content 1 goes here -->
                <div >
                    <h5 class="left-align">#BOOK_WORM</h5>
                    <p>A self cultivated habit which helps me extend and influence my thinking prespective.I read self helping books and autobiographies.
                      Power of your Subconscious mind, Think and Grow Rich, Raja Yoga, Autobiography of a Yogi etc being some of my favorites.
                    </p>
                  </div>
              </div>
             <div class="col s12">
                      <!-- Promo Content 2 goes here -->
                      <div >
                          <h5 class="left-align">#SOLO_TRAVELLER</h5>
                          <p>An open highway is the dream of every men.It keeps every problem behind you and gives the freedom all thrives for.
                            My rides makes me realize always that the beauty of life lies within the current moment!!
                          </p>
                        </div>
                    </div>
                    <div class="col s12">
                        <!-- Promo Content 1 goes here -->
                        <div >
                            <h5 class="left-align">#YOGA_PRACTIONER</h5>
                            <p>A man without any belief system is equivalent to a religiously corrupted person.I am glad to find the path of yoga.
                              It helps me realize that i am more than my physical body!
                              </p>
                          </div>
                      </div>
                      <div class="col s12">
                          <!-- Promo Content 1 goes here -->
                          <div >
                              <h5 class="left-align">#RUNNER</h5>
                              <p>
                                Everyday is an oppurtunity to make yourself believe that you are better than yesterday.Running keeps that belief alive with in me,10km @ 45min being my best!
                              </p>
                            </div>
                        </div>
       </div>
       <div class="col s12 m6 l6 contactme-content">
          <ul>
            <li><i class="large material-icons">contact_mail</i><div><span>jovinjames33@gmail.com</span></div></li>
            <li><i class="large material-icons">contact_phone</i><div><span>+91 8880678556</span></div></li>
          </ul>
       </div>
       </div>
 
   <!--
   <div id="career" class="col s12 contextbox-career"></div>
   <div id="tech" class="col s12 contextbox-tech"></div>
   <div id="passion" class="col s12 contextbox-passion"></div>
   -->
 </div>
